<%- include('../layouts/partials/messages.ejs') %>
  <div class="container" style="background-color: rgb(236, 228, 228)">
    <form class="needs-validation" novalidate method="post">
      <div class="row align-items-center">
        <div class="col mt-2">
          <h4 class="text-center">Registration Form</h4>
        </div>
      </div>
      <div class="row g-2 mt-4" style="max-width: 100%">
        <div class="col-md-10">
          <div class="row g-2">
            <!-- -->
            <!-- ********************************************************* -->

            <!-- ***************************************** -->
            <!-- ************************************************ -->
            <div class="col mt-2">
              <h5>PERSONAL DETAILS</h5>
            </div>
            <!-- <div class="row g-2 mt-2" style="max-width: 100%"> -->
            <div class="row g-2 mt-4" style="max-width: 100%">
              <div class="col-md-10">
                <div class="row g-3">
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="reg_id" id="reg_id" placeholder="Reg.id" disabled
                        maxlength="25" value="<%= typeof reg_id != 'undefined' ? reg_id : '' %>" />
                      <label for="reg_id">Reg.No:</label>
                      <div class="invalid-feedback">Registration Number is required</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="date" class="form-control" name="reg_date" id="reg_date" disabled
                        value="<%= typeof reg_date != 'undefined' ? reg_date : "" %>" />
                      <label for="reg_date">Date:</label>
                      <div class="invalid-feedback">Please fill date..</div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-floating">
                      <select required aria-required="true" class="form-select mb-2" id="patient_type"
                        name="patient_type">
                        <option>select</option>

                        <% patientTypes.forEach(function(pType) { %>
                          <option label="<%= pType.type_name %>" value="<%= pType.id %>"></option>
                          <% }) %>
                      </select>
                      <label for="patient_type">Patient Type:</label>
                      <div class="invalid-feedback">patient type is required</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input autofocus type="text" class="form-control" name="name" id="name" placeholder="Name"
                        maxlength="75" value="<%= typeof name != 'undefined' ? name : '' %>" required />
                      <label for="name">Name: </label>
                      <div class="invalid-feedback">Name is required</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="age" id="age" placeholder="Age/Sex" required
                        pattern="^[1-9]\d*$" value="<%= typeof age != 'undefined' ? age : '' %>" />
                      <label for="age">Age:</label>
                      <div class="invalid-feedback">Age is required</div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-floating">
                      <select required aria-required="true" class="form-select mb-2" id="gender" name="gender">
                        <option>select</option>
                        <option value="1">M</option>
                        <option value="2">F</option>
                        <option value="3">O</option>
                      </select>
                      <label for="gender">Gender:</label>
                      <div class="invalid-feedback">Please gender is required</div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-floating">
                      <select required aria-required="true" class="form-select mb-2" id="religion" name="religion">
                        <option>select</option>
                        <% religions.forEach(function(religion) { %>
                          <option label="<%= religion.religion %>" value="<%= religion.id %>"></option>
                          <% }) %>
                      </select>
                      <label for="religion">Religion:</label>
                      <div class="invalid-feedback">Religion is required</div>
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-sm-3">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="aadhar" id="aadhar" placeholder="Aadhar"
                        pattern="[0-9]{12}" value="<%= typeof aadhar != 'undefined' ? aadhar : '' %>" required />
                      <label for="aadhar">Aadhar No:</label>
                      <div class="invalid-feedback">Aadhar Number is required</div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-floating">
                      <select required aria-required="true" class="form-select" id="language" name="language">
                        <option>select</option>
                        <% languages.forEach(function(language) { %>
                          <option label="<%= language.language %>" value="<%= language.id %>"></option>
                          <% }) %>
                      </select>
                      <label for="language">Language:</label>
                      <div class="invalid-feedback">Gender is required</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="ref_by" id="ref_by" placeholder="Reference By"
                        maxlength="65" value="<%= typeof ref_by != 'undefined' ? ref_by : '' %>" />
                      <label for="ref_by">Reference By:</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-floating">
                      <input type="file" class="form-control" name="pic_filename" id="pic_filename"
                        placeholder="Select Picture" required accept="image/*"
                        onchange="previewImage(`pic_filename`, `show_img`)" />
                      <!-- <label for="floatingInputGrid">Document:</label> -->
                      <div class="invalid-feedback">only allows image jpg,png not pdf/word</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card mx-auto" style="width: 11.5rem; height: 12rem">
                  <img id="show_img" class="card-img-top" alt="picture" style="height: 100%; width: 100%" />
                </div>
              </div>
            </div>

            <!-- patient address deatails start  -->
            <!-- LOCAL ADDRESSS START  -->
            <div class="col mt-4">
              <h5>LOCAL ADDRESS</h5>
            </div>
            <div class="mt-2">
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <textarea class="form-control" name="local_address" placeholder="Please Fill your address"
                      id="local_address" maxlength="500"
                      value="<%= typeof local_address != 'undefined' ? local_address : '' %>" required></textarea>
                    <label for="local_address">Local Address:</label>
                    <div class="invalid-feedback">It is mandatory field</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input class="form-control" name="local_city" id="local_city" placeholder="Please Fill your address"
                      maxlength="45" value="<%= typeof local_city != 'undefined' ? local_city : '' %>" required />
                    <label for="local_city">City:</label>
                    <div class="invalid-feedback">It is mandatory field</div>
                  </div>
                </div>
              </div>
              <div class="row g-3 mt-1">
                <div class="col-md-4">
                  <div class="form-floating">
                    <textarea class="form-control" name="local_landmark" id="local_landmark"
                      placeholder="Please Fill your address" maxlength="65"
                      value="<%= typeof local_landmark != 'undefined' ? local_landmark : '' %>" required></textarea>
                    <label for="local_landmark">Landmarks:</label>
                    <div class="invalid-feedback">It is mandatory field</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="local_phone1" id="local_phone1"
                      placeholder="Please Fill your address" pattern="^[1-9]\d*$"
                      value="<%= typeof local_phone1 != 'undefined' ? local_phone1 : '' %>" required />
                    <label for="local_phone1">Ph 1:</label>
                    <div class="invalid-feedback">It is mandatory field</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="local_phone2" id="local_phone2"
                      placeholder="Please Fill your address" pattern="^[1-9]\d*$"
                      value="<%= typeof local_phone2 != 'undefined' ? local_phone2 : '' %>" />
                    <label for="local_phone2">Ph 2:</label>
                  </div>
                </div>
              </div>

              <!-- LOCAL ADDRESS END  -->
              <div class="col-12 mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" />
                  <label class="form-check-label" for="gridCheck"> Local address same as permanent address. </label>
                </div>
              </div>

              <!-- PERMANENT ADDRESS START  -->

              <div class="col mt-4">
                <h5>PERMANENT ADDRESS</h5>
              </div>
              <div>
                <div class="row g-2 mt-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <textarea class="form-control" name="permanent_address" placeholder="Please Fill your address"
                        id="permanent_address" maxlength="500"
                        value="<%= typeof permanent_address != 'undefined' ? permanent_address : '' %>"></textarea>
                      <label for="permanent_address">Permanent Address:</label>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="form-floating">
                      <input class="form-control" name="permanent_city" id="permanent_city"
                        placeholder="Please Fill your address" maxlength="45"
                        value="<%= typeof permanent_city != 'undefined' ? permanent_city : '' %>" />
                      <label for="permanent_city">City:</label>
                    </div>
                  </div>
                </div>
                <div class="row g-3 mt-1">
                  <div class="col-md-4">
                    <div class="form-floating">
                      <textarea class="form-control" name="permanent_landmark" id="permanent_landmark"
                        placeholder="Please Fill your address" maxlength="65"
                        value="<%= typeof permanent_landmark != 'undefined' ? permanent_landmark : '' %>"></textarea>
                      <label for="permanent_landmark">Landmarks:</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="permanent_phone1" id="permanent_phone1"
                        placeholder="Ph 1:" pattern="^[1-9]\d*$"
                        value="<%= typeof permanent_phone1 != 'undefined' ? permanent_phone1 : '' %>" />
                      <label for="permanent_phone1">Ph 1:</label>
                    </div>
                  </div>

                  <!-- <div class="row g-2 mt-2"> -->
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="permanent_phone2" id="permanent_phone2"
                        placeholder="Ph 2:" pattern="^[1-9]\d*$"
                        value="<%= typeof permanent_phone2 != 'undefined' ? permanent_phone2 : '' %>" />
                      <label for="permanent_phone2">Ph 2:</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- patient address deatails stop -->

              <!-- family deatails and relatives deatails start -->
              <div class="col mt-4"></div>

              <div class="col mt-4">
                <h5>FAMILY DETAILS</h5>
              </div>

              <div>
                <div class="row g-2 mt-1">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="fathers_name" id="fathers_name"
                        placeholder="Father Name" maxlength="45"
                        value="<%= typeof fathers_name != 'undefined' ? fathers_name : '' %>" />
                      <label for="fathers_name">Father Name: </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="mothers_name" id="mothers_name"
                        placeholder="Mother Name" maxlength="45"
                        value="<%= typeof mothers_name != 'undefined' ? mothers_name : '' %>" />
                      <label for="mothers_name">Mother Name: </label>
                    </div>
                  </div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="spouse_name" id="spouse_name"
                        placeholder="Spouses Name" maxlength="45"
                        value="<%= typeof spouse_name != 'undefined' ? spouse_name : '' %>" />
                      <label for="spouse_name">Spouse's Name: </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Occupation"
                        maxlength="45" value="<%= typeof occupation != 'undefined' ? occupation : '' %>" />
                      <label for="occupation">Occupation: </label>
                    </div>
                  </div>
                </div>
                <div class="row g-3 mt-1">
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="family_occupation" id="family_occupation"
                        placeholder="Father/Spouse's Occupation" maxlength="45"
                        value="<%= typeof family_occupation != 'undefined' ? family_occupation : '' %>" />
                      <label for="family_occupation">Father/Spouse's Occupation: </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" name="family_earning" id="family_earning"
                        placeholder="Total Family Earning Month"
                        value="<%= typeof family_earning != 'undefined' ? family_earning : '' %>" />
                      <label for="family_earning">Total Family Earning Month: </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating">
                      <textarea class="form-control" name="remarks" id="remarks" placeholder="Remarks"
                        style="height: 58px" value="<%= typeof remarks != 'undefined' ? remarks : '' %>"></textarea>
                      <label for="remarks">Remarks:</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mt-4">
              <h5>Details Of Closest Relatives / Friend(For Emergency)</h5>
            </div>
            <div>
              <div class="row g-2 mt-2">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="buddy_name" id="buddy_name" placeholder="Name:"
                      maxlength="45" value="<%= typeof buddy_name != 'undefined' ? buddy_name : '' %>" />
                    <label for="buddy_name">Name: </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="buddy_relation" id="buddy_relation"
                      placeholder="Relationship" maxlength="45"
                      value="<%= typeof buddy_relation != 'undefined' ? buddy_relation : '' %>" />
                    <label for="buddy_relation">Relationship: </label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mt-2">
                <div class="col-md-6">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="buddy_address" name="buddy_address"
                      maxlength="500" value="<%= typeof buddy_address != 'undefined' ? buddy_address : '' %>"
                      style="height: 127px"></textarea>
                    <label for="buddy_address">Address:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="buddy_city" id="buddy_city" placeholder="City"
                      maxlength="45" value="<%= typeof buddy_city != 'undefined' ? buddy_city : '' %>" />
                    <label for="buddy_city">City: </label>
                  </div>
                  <div class="form-floating mt-2">
                    <input type="text" class="form-control" placeholder="phone number" name="buddy_phone"
                      id="buddy_phone" pattern="^[1-9]\d*$"
                      value="<%= typeof buddy_phone != 'undefined' ? buddy_phone : '' %>" />
                    <label for="buddy_phone">Ph:</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mt-2">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="buddy1_name" id="buddy1_name" placeholder="Name:"
                      maxlength="45" value="<%= typeof buddy1_name != 'undefined' ? buddy1_name : '' %>" />
                    <label for="buddy1_name">Name: </label>
                  </div>
                  <div class="form-floating mt-2">
                    <input type="text" class="form-control" name="buddy1_relation" id="buddy1_relation"
                      placeholder="Relationship" maxlength="45"
                      value="<%= typeof buddy1_relation != 'undefined' ? buddy1_relation : '' %>" />
                    <label for="buddy1_relation">Relationship: </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="buddy1_address" name="buddy1_address"
                      maxlength="500" value="<%= typeof buddy1_address != 'undefined' ? buddy1_address : '' %>"
                      style="height: 127px"></textarea>
                    <label for="buddy1_address">Address:</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mt-2">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="buddy1_city" id="buddy1_city" placeholder="City"
                      maxlength="45" value="<%= typeof buddy1_city != 'undefined' ? buddy1_city : '' %>" />
                    <label for="buddy1_city">City: </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" placeholder="phone number" name="buddy1_phone"
                      id="buddy1_phone" pattern="^[1-9]\d*$"
                      value="<%= typeof buddy1_phone != 'undefined' ? buddy1_phone : '' %>" />
                    <label for="buddy1_phone">Ph:</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mt-4">
              <h5>Details Of Person Accompaying Patient At Time Of Admission</h5>
            </div>

            <!-- family deatails and relatives deatails stop -->

            <!-- deatails of person accompying patient at the time of addmission start -->
            <div class="row g-2 mt-2">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" name="admit_name" id="admit_name" placeholder="Name"
                    maxlength="45" value="<%= typeof admit_name != 'undefined' ? admit_name : '' %>" required />
                  <label for="admit_name">Name: </label>
                  <div class="invalid-feedback">It is mandatory to fill</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" name="admit_relation" id="admit_relation"
                    placeholder="Relationship With Patient" maxlength="45"
                    value="<%= typeof admit_relation != 'undefined' ? admit_relation : '' %>" required />
                  <label for="admit_relation">Relationship With Patient:</label>
                  <div class="invalid-feedback">It is mandatory to fill</div>
                </div>
              </div>
            </div>
            <div class="row g-2 mt-1">
              <div class="col-md-6">
                <div class="form-floating">
                  <textarea class="form-control" name="admit_address" id="admit_address" style="height: 127px"
                    value="<%= typeof admit_address != 'undefined' ? admit_address : '' %>" required></textarea>
                  <label for="admit_address">Address: </label>
                  <div class="invalid-feedback">It is mandatory to fill</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="admit_age" name="admit_age" placeholder="Age"
                    maxlength="11" value="<%= typeof admit_age != 'undefined' ? admit_age : '' %>" required />
                  <label for="admit_age">Age:</label>
                  <div class="invalid-feedback">It is mandatory to fill</div>
                </div>
                <div class="form-floating mt-2">
                  <select required aria-required="true" class="form-select" id="admit_gender" name="admit_gender">
                    <option>Choose</option>
                    <option value="1">M</option>
                    <option value="2">F</option>
                    <option value="3">O</option>
                  </select>
                  <label for="gender">Gender:</label>
                </div>
              </div>
            </div>

            <!-- deatails of person accompying patient at the time of addmission end -->

            <div class="col mt-5"></div>
            <div class="d-grid gap-2 d-md-block text-center">
              <button type="submit" name="save" id="save" class="btn btn-primary">Save</button>
              <button type="submit" name="continue" id="continue" class="btn btn-secondary">Continue</button>
            </div>
    </form>
    <!-- form end -->
  </div>
  </div>
  </div>
  <div class="mt-4"></div>
  </div>

  <script>
    (function () {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener(
          'submit',
          function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          },
          false
        );
      });
    })();
  </script>